[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "C443"]
	path = C443
	url = https://github.com/kuleuven-ppw-okpiv/c443
	shallow = true
	registered = true
